@{
    ViewData["Title"] = "Registration";
}

<h1 align="center">Registration</h1>
<div class="text-center">
<form action="/Home/RegisterUser" align="center">

<label for="fullname">FullName:</label><br>
  <input type="text" id="fullname" name="fullname"><br>

  <label for="city">City:</label><br>
  <input type="text" id="city" name="city"><br>

  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email"><br>

  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password"><br><br>

  <input type="submit" value="Submit">
</form> 
</div>
